@import "site.mixins.less";


.s-Erp-PartnerTypesDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-SuppliersDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-AccountsDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-CompaniesDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-AttachmentsDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-AccountAttachmentsDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-ProductsDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-PaymentTypesDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-OrderStatusesDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-OrdersDialog {
    > .size {
        width: 850px;
    }

    .caption {
        width: 150px;
    }

    .grid-container {
        min-height: 220px;
    }
}

.s-Erp-OrderDetailsDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-BudgetsDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-ExpensesDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-PartnersDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-OutsideOrdersDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-SentEmailsDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-OutsideOrderAttachmentsDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-OrderAttachmentsDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}

.s-Erp-ExpensesAttachmentsDialog {
    > .size { width: 850px; }
    .caption { width: 150px; }
}