@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Erp.Expenses.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PGMS.Erp.ExpensesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>