@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Erp.Companies.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PGMS.Erp.CompaniesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>