@model PGMS.Common.DashboardPageModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}

@section Head {
    @Html.StyleBundle("Pages/Dashboard")
    @Html.ScriptBundle("Pages/Dashboard")
}

@section ContentHeader {
    <h1>@LocalText.Get("Navigation.Dashboard")<small>@Html.Raw(Texts.Site.Dashboard.ContentDescription)</small></h1>
}

<div id="MyOrdersGrid"></div>


<script type="text/javascript">
    jQuery(function () {
        new PGMS.Erp.MyOrdersGrid($('#MyOrdersGrid'), {}).init();

        Q.initFullHeightGridPage($('#MyOrdersGrid'));
    });
</script>